---
Checks: >
  *,
  -abseil-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -llvm-*,
  -llvmlibc-*,
  -altera-*,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -hicpp-vararg,
  -hicpp-signed-bitwise,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type,
  -cert-dcl50-cpp,
  -cert-dcl59-cpp

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.MethodCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.ConstantCase
    value: kCamelBack
  - key: readability-identifier-naming.ConstantPrefix
    value: k
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.MacroCase
    value: UPPER_CASE
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: modernize-loop-convert.MaxCopySize
    value: '16'
  - key: modernize-pass-by-value.IncludeStyle
    value: llvm
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: false